@media screen and (max-width: 360px) {
    header {
        height: 100%;
    }

    .container {
        padding: 2rem ;
    }

    header nav {
        display: none;
    }

    .rows {
        flex-wrap: wrap;
    }

    header .column {
        height: 100%;
        flex-basis: 100%;
    }

    header .btn {
        padding: 2px;
    }
      
}